#page-header {
  color: white;
  text-align: center;
}
header {
  background-image: url("bloodyBanner.jpg");
}
.page-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  grid-template-areas:
			". header ."
			". main ."
			". footer .";
}
main {
  display: grid;
  grid-template-columns:75% 25%;
  grid-template-areas:
  "leftbar rightbar"
}
header {
  grid-area: header;
}
main {
  grid-area: main;
}
